body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.table {
    border-collapse: collapse;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table th,
.table td {
    padding: 5px;
    border: 1px solid #000;
}